.emergence-activity {
    font-size: 13px;

    a {
        color: $fg-color3;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .activity-feed {
        border-top: 1px solid $fg-color3;
        display: table;
        width: 100%;
    }

    article {
        color: $fg-color3;
        display: table-row;

        &:nth-child(even) {
            background: rgba($base-color, .25);
        }

        &:hover {
            background: rgba($base-color, .75);
            background: -webkit-linear-gradient(
                rgba($base-color, .90),
                rgba($base-color, .75)
            );

            .compare {
                text-decoration: none;
                visibility: visible;
            }
        }
    }

    .user,
    .action,
    .file,
    .timestamp {
        border-bottom: 1px solid rgba($base-color, 0.5);
        display: table-cell;
        padding: .5em;
        white-space: nowrap;
    }

    .user,
    .action,
    .compare,
    .revisions,
    .timestamp {
        font-size: smaller;
        text-transform: uppercase;
    }

    .user {
        font-weight: bold;

        img {
            background-position: center center;
            background-repeat: no-repeat;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;
            margin: -7px;
            margin-right: .5em;
            vertical-align: -3px;
        }

        figcaption {
            display: inline;
        }
    }

    .action {
        &.deleted { color: hsl(0, 80%, 65%); }
        &.edited  { color: hsl(212, 80%, 65%); }
        &.created { color: hsl(105, 100%, 55%); }
    }

    .path,
    .filename {
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Courier New', monospace
    }

    .path {
        color: $color;
        width: 100%;
    }

    .revisions {
        float: right;
        margin-left: 1em;
    }

    .compare {
        border: 1px solid rgba($fg-color3, .75);
        border-radius: 1em;
        color: rgba($fg-color3, .90);
        margin-left: 1em;
        padding: 1px 5px;
        visibility: hidden;

        &:hover {
            border-color: $fg-color3;
        }

        &:active {
            background: rgba($fg-color3, .25);
        }
    }
}