$tab-base-color-active: dynamic($fg-color1);
$tab-base_color-over: dynamic($fg-highlight);
$tab-plain-color: dynamic($fg-color2);
$tab-plain-color-active: dynamic($fg-color3);
$tab-plain-color-over: dynamic($fg-color3);
$tab-plain-background-color-over: dynamic($bg-highlight);

$tabbar-base-color: dynamic($bg-color1);
$tab_color_active: dynamic($fg-color3);
$tab_color_over: dynamic($fg-color1);