/*---- Search Results ----*/

#search-results {
	background: white;
	background: rgba(255,255,255,.97);
	border: 1px solid #999;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
	line-height: 1.5;
	min-width: 200px;
	padding: .5em 0 0;
	position: absolute;
	top: 2em;
	z-index: 99;
}

#search-results h1 {
	background: #eee;
	background: rgba(0,0,0,.1);
	font-size: 12px;
	font-weight: normal;
	padding: 4px 14px;
	text-transform: uppercase;
}

#search-results ul {
	list-style: none;
	margin-bottom: .5em;	
}

#search-results li {
	cursor: pointer;
	display: block;
	white-space: nowrap;
}

#search-results li a {
	display: block;
	padding: .25em 1em;
}
#search-results li a:hover {
	background-color: #DDD !important;
}
#search-results li:hover {
	background: #333;
	background: rgba(0,0,0,.75);
	color: white;
}

#search-results li a.more-results {
	text-align: center;
	font-size: 80%;
	color: #999;
}

#search-results li img {
	margin-right: .75em;
	vertical-align: middle;
}

#search-results .results-loading {
	background: url(/img/ux/spinner.gif) no-repeat left center;
	margin: 0 1em .5em;
	padding-left: 22px;
}

/*---- End Search Results */