html,
body,
* {
  -webkit-font-smoothing: inherit;
}

body {
	background-color: #666;
	-webkit-transition: background-color .5s;
}

.x-column-header {
	font-family: museo-slab-1, museo-slab-2, serif;
}

/* This badge needs to be displayed until we upgrade our Typekit license.
.typekit-badge { display: none !important; } */

/* This is a copy of Typekit's selectors for Museo Slab.
   Font-weight specified in case fallback fonts are used
   (Museo Slab is currently only served to us in 700 weight). */
#global-nav, #hq-app-list, #hq-view-menu, .button, .tk-museo-slab, button, h1, input[type="button"], input[type="submit"] {
	font-weight: 700;
}

body.loading {
	background: url(/img/loaders/loading-ellipsis-white.gif) no-repeat 60px 10px #333;
	font-family: sans-serif;
	position: absolute;
}

body.loading:after {
	color: white;
	display: block;
	content: 'Loading';
	line-height: 1;
	margin: 1em;
}

body,
input,
textarea {
	color: #444;
	font-size: 12px;
}

.x-form-field {
	font-size: 12px;
}

.has-submenu:after {
	content: '\25bc'; /* down pointing triangle */
	font-size: 7px;
	margin-left: .5em;
	vertical-align: top;
}

#hq-header {
	background: #333;
	background: -moz-linear-gradient(black, #666);
	background: -webkit-gradient(linear, left top, left bottom, from(black), to(#666));
	background: -webkit-linear-gradient(black, #666);
	color: white;
	text-shadow: 0 1px 0 black;
	z-index: 99;
}

#hq-search,
#hq-app-list,
#hq-user {
	float: left;
	line-height: 36px;
}

#hq-search {
	padding: 0 1em;
}

#hq-search input {
	border: none;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	margin: 7px 0;
	padding: .25em .75em;
	width: 100%;
}

#hq-app-list {
	margin-left: 1em;
}

#hq-app-list > li {
	float: left;
	height: 36px;
	overflow: hidden;
	width: 36px;
}

#hq-app-list > li.loading {
	background: url(/img/loaders/loading-ellipsis-white.gif) no-repeat center center;
	color: transparent;
}

#hq-app-list > li > a {
	color: white;
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	white-space: nowrap;
}

#hq-app-list > li > a:hover,
#hq-app-list > .current > a {
	background: white;
	background: -moz-linear-gradient(#ddd, white);
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(white));
	background: -webkit-linear-gradient(#ddd, white);
	-moz-box-shadow: inset 0 3px 3px -3px rgba(0,0,0,.75);
	-webkit-box-shadow: inset 0 3px 3px -3px rgba(0,0,0,.75);
	box-shadow: inset 0 3px 3px -3px rgba(0,0,0,.75);
	color: #444;
	text-shadow: 0 1px 0 white;
}

#hq-user {
	padding: 0 1em;
}

#hq-user img {
	margin-right: .5em;
	vertical-align: middle;
}

#hq-user a {
	color: #999;
	text-decoration: none;
	white-space: nowrap;
}

#hq-user a:hover {
	color: white;
}

.user-name {
	font-weight: bold;
}

.user-name > small {
	font-size: 8px;
	vertical-align: top;
}

#logout-link {
	border-left: 1px solid #666;
	font-size: 10px;
	margin-left: 1em;
	padding-left: 1em;
	text-transform: uppercase;
}

#hq-perspectives {
	background: -moz-linear-gradient(#999, #666);
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#666));
	background: -webkit-linear-gradient(#999, #666);
	border: 1px solid #444;
	border-width: 1px 0;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	line-height: 28px;
	padding: 0 1em 0 187px;
	white-space: nowrap;
	z-index: 100;
}

.perspective {
	float: left;
	position: relative;
}

.perspective > a {
	color: white;
	display: inline-block;
	font-weight: bold;
	padding: 0 1em;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
}

.perspective.current > a,
.perspective.current:hover > a {
	color: #444;
	text-shadow: 0 1px 0 white;
}

.perspective:hover {
	background: rgba(0,0,0,.2);
}

.perspective.current,
.perspective.current:hover {
	background: rgba(255,255,255,.8);
}

.submenu {
	background: rgba(221,221,221,.95);
	border-top: 1px solid #444;

	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.4);
	box-shadow: 0 3px 3px rgba(0,0,0,.4);
	
	display: none;
	left: 0;
	min-width: 110%;
	padding: .25em 0;
	position: absolute;
	top: 28px;
	z-index: 99;
}

.perspective:hover .submenu {
	display: block;
}

.submenu > li > a {
	color: #444;
	display: block;
	font-weight: bold;
	padding: 0 1em 0 2em;
	text-decoration: none;
	text-shadow: 0 1px 0 white;
}

.submenu > li > a:hover {
	background: #666;
	color: white;
	text-shadow: 0 -1px 0 black;
}

.submenu > li > a:active {
	background: #777;
}

#hq-view-menu {
	background: #666;
	background-image: url(/img/jarvus-white.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 1em 0 0;
}

#hq-view-menu > li {
	border: 1px solid rgba(0,0,0,.4);
	-webkit-border-top-left-radius: .5em;
	-webkit-border-bottom-left-radius: .5em;
	-moz-border-radius-topleft: .5em;
	-moz-border-radius-bottomleft: .5em;
	border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;

	-moz-box-shadow: -3px 0 3px -3px rgba(0,0,0,.4);
	-webkit-box-shadow: -3px 0 3px -3px rgba(0,0,0,.4);
	box-shadow: -3px 0 3px -3px rgba(0,0,0,.4);

	clear: both;
	display: block;
	float: right;
	margin-bottom: -.75em;
}

#hq-view-menu > li > a {
	background: -moz-linear-gradient(left, rgba(0,0,0,.2), transparent);
	background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,.2)), to(transparent));
	background: -webkit-linear-gradient(left, rgba(0,0,0,.2), transparent);

	-webkit-border-top-left-radius: .5em;
	-webkit-border-bottom-left-radius: .5em;
	-moz-border-radius-topleft: .5em;
	-moz-border-radius-bottomleft: .5em;
	border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;

	color: white;
	display: block;
	padding: 1.5em 2em;
	text-decoration: none;
	text-align: right;
	text-shadow: 0 -1px 0 black;
	text-transform: uppercase;
	-moz-transition: padding-right 250ms;
	-webkit-transition: padding-right 250ms;
}

#hq-view-menu li:nth-child(1n) { background: #933; }
#hq-view-menu li:nth-child(2n) { background: #639; }
#hq-view-menu li:nth-child(3n) { background: #693; }
#hq-view-menu li:nth-child(4n) { background: #369; }
#hq-view-menu li:nth-child(5n) { background: #396; }
#hq-view-menu li:nth-child(6n) { background: #939; }

#hq-view-menu > li:hover > a {
	padding-right: 3em;
}
#hq-view-menu > .current > a,
#hq-view-menu > .current:hover > a {
	padding-right: 4em;
}

#hq-view-menu > .current {
	border-right-color: transparent;

	-moz-box-shadow: -3px 0 3px -3px rgba(0,0,0,.6);
	-webkit-box-shadow: -3px 0 3px rgba(0,0,0,.4);
	box-shadow: -3px 0 3px -3px rgba(0,0,0,.6);

	position: relative;
	z-index: 99;
}

#hq-view-menu > .current > a {
	background: -moz-linear-gradient(left, rgba(255,255,255,.2), transparent);
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,.2)), to(transparent));
	background: -webkit-linear-gradient(left, rgba(0,0,0,.2), transparent);
}

#hq-view-menu > .current > a:before {
	content: '\2022'; /* bullet */
	margin-right: 1em;
}

#hq-view-content {
	background: white;
	-moz-box-shadow: 0 0 1em rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 1em rgba(0,0,0,.4);
	box-shadow: 0 0 1em rgba(0,0,0,.4);
	padding: 1em;
	-webkit-transition: background-color 250ms;
}