$loadmask-msg-background-color: dynamic($bg-color1);
$loadmask-msg-border-color: dynamic($fg-color1);
$loadmask-msg-border-style: solid;
$loadmask-msg-border-width: 1px;
$loadmask-msg-border-radius: 15px;
$loadmask-msg-inner-color: dynamic($fg-color1);
$loadmask-msg-inner-font-size: 20px;