$menu-background-color: dynamic($bg-color1);
$menu-item-active-background-color: dynamic($bg-color3);
$menu-border-color: dynamic($bg-color4);
$menu-text-color: dynamic($fg-color2);
$menu-separator-border-color: dynamic($bg-color1);